.imageHome {
  max-height: 77vh;
  min-height: 350px;
  border-radius: 10%;
  border: 5px dashed;
  padding: 3px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.textHome {
  font-family: "Lucida Calligraphy", cursive, monospace;
}
