.cardModal {
  cursor: pointer;
}

.pageImage {
  max-height: 550px;
  max-width: auto;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}