.photosContainer {
  max-width: 1600px;
}

.splitHeader {
  margin-top: 6px;
  margin-bottom: 2px;
}

.splitHeaderMiddle {
  margin-bottom: 2px;
}

.carouselMain {
  height: 85vh;
  min-height: 450px;
  display: flex;
  align-items: center;
  margin-top: -25px;
}

.carouselImage {
  max-width: 60vw;
  max-height: 70vh;
  min-height: 350px;
  border-radius: 5%;
  border: 3px dashed;
  padding: 3px;
  width: auto;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.carouselButton {
  cursor: pointer;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239d4e5a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%239d4e5a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carouselIndicator > li {
  background-color: var(--primary);
}

.carouselIndicator {
  margin-bottom: 4px;
}
